body {
    margin: 0;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #cf8c8c;

    overscroll-behavior: none;
}


/* Entire cube UI */
.cube-container {
    position: relative;

    width: 600px;
    height: 600px;
}


/* Every face */
.cube-face {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 4px;

    background-color: #222;
}


/* Every sticker */
.sticker {
    background-color: white;

    box-sizing: border-box;

    border: 2px solid #111;
}


/* Main face */
.main-face {
    position: absolute;

    width: 300px;
    height: 300px;

    left: 150px;
    top: 150px;
}


/* Small faces */
.up-face,
.down-face,
.left-face,
.right-face,
.back-face {
    position: absolute;

    width: 120px;
    height: 120px;
}


/* Two faces on the left */

.back-face {
    left: -100px;
    top: 100px;
}

.left-face {
    left: -100px;
    top: 380px;
}


/* Three faces on the right */

.up-face {
    right: -100px;
    top: 20px;
}

.right-face {
    right: -100px;
    top: 240px;
}

.down-face {
    right: -100px;
    top: 460px;
}

.button-container {
    position: absolute;

    left: 0;
    top: 0;

    width: 600px;
    height: 600px;

    pointer-events: none;
}

.cube-arrow {
    position: absolute;

    width: 45px;
    height: 45px;

    padding: 0;
    border: none;

    background: transparent;

    cursor: pointer;

    pointer-events: auto;
}

.cube-arrow img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.first-row-left {
    left: 100px;
    top: 170px;
}

.first-row-right {
    left: 455px;
    top: 170px;
}

.second-row-left {
    left: 100px;
    top: 275px;
}

.second-row-right {
    left: 455px;
    top: 275px;
}

.third-row-left {
    left: 100px;
    top: 380px;
}

.third-row-right {
    left: 455px;
    top: 380px;
}

.first-column-up {
    left: 170px;
    top: 100px;
}

.first-column-down {
    left: 170px;
    top: 455px;
}

.second-column-up {
    left: 275px;
    top: 100px;
}

.second-column-down {
    left: 275px;
    top: 455px;
}

.third-column-up {
    left: 380px;
    top: 100px;
}

.third-column-down {
    left: 380px;
    top: 455px;
}

.first-row-left img,
.second-row-left img,
.third-row-left img {
    transform: rotate(180deg);
}

.first-column-up img,
.second-column-up img,
.third-column-up img {
    transform: rotate(-90deg);
}

.first-column-down img,
.second-column-down img,
.third-column-down img {
    transform: rotate(90deg);
}


